@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 145 52% 93%;
    --foreground: 240 10% 3.9%;
    --card: 145 50% 98%;
    --card-foreground: 240 10% 3.9%;
    --popover: 145 50% 98%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 5 86% 38%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 145 25% 85%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 145 25% 85%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 33 96% 43%;
    --accent-foreground: 355.7 100% 97.3%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 145 30% 85%;
    --input: 145 30% 88%;
    --ring: 5 86% 38%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 5 86% 38%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 33 96% 53%;
    --accent-foreground: 355.7 100% 97.3%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 5 86% 38%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
